.pole{
    height: 600px;
    width: 850px;
    border: 1px solid transparent;
    border-color: wheat;
    border-radius: 20px;    
    position: static;
    position: absolute;
    margin: 40px 0 0 25%;
    background-color: #FFEEB6;
    padding-left: 10px;
    background-image: url('/pictures/der.jpg');
    background: rgba(0,0,0,.5);
   
}
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: 'pictures/phone1.jpg';
    background-size:  contain;
}
html {
  height: 100%;
}

#loseblock{
     position: static;
    position: absolute;
    
     heidth: 1188px;
     width: 840px;
}



.circle {
    width: 550px; 
    height: 550px;
  
    border: 3px solid transparent;
    border-color: black;
    border-radius: 50%;
    margin-top: 30px;
    background-image: 'pictures/gazon.jpg';
    
}


.value{
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    margin-left: 30px;
    margin-top: 40px;
    position: absolute;
}

.purpose{
     color: #F7B700; font-family: ‘Helvetica Neue’, sans-serif; font-size: 160px; font-weight: bold; letter-spacing: -1px; line-height: 1; 
}

.score{
   color: #9DF700; font-family: ‘Helvetica Neue’, sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; 
}

.right{
    margin-left: 90%;
    margin-top: 30px;
}

.bt1 {
  display: inline-block;
  color: #894229;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid ;
  border-radius: 20px;
  transition: 0.2s;
} 
.bt1:hover { background: rgba(255,255,255,.2); }
.bt1:active { background: white; }

.heart{
    height: 49px;
    width: 51px;
}
.drot{
    height: 102px;
    width: 24px;
}
.lives{
    margin-top: 15px;
    margin-left: 10px;
}
.value{
    color: #9C4C00; font-family: ‘Helvetica Neue’, sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
}